<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rjhartsoftware.utilities">

    <uses-sdk tools:overrideLibrary="com.google.android.gms.ads.impl, com.google.firebase.crashlytics, com.google.firebase.remoteconfig, com.google.firebase.firebase_analytics, com.google.android.gms.gass, com.google.firebase.measurement, com.google.android.gms.measurement.api, com.google.android.gms.measurement.sdk, com.google.firebase.measurement_impl, com.google.android.gms.ads, com.google.android.gms.measurement.sdk.api, com.google.android.gms.measurement_base, com.google.android.gms.ads_base, com.google.android.ads.consent, com.google.firebase.analytics.connector, com.google.firebase.firestore, io.grpc.android, com.google.firebase.firebase_core, com.google.firebase.firestore.ktx, com.google.firebase.analytics.ktx, com.google.firebase.remoteconfig.ktx, me.saket.bettermovementmethod" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/rjhs_override_ad_mob_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".google.RjhsGoogleActivityData"
            android:launchMode="singleInstance"
            android:theme="@style/RjhsAppTheme.NoAnim" />
    </application>

</manifest>
